<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'meter.png') }}" />
  <title>Car Mileage Log</title>
  <style>
    body, input, button {
      font-size: 80px;
    }
  </style>
</head>
  <body>
    <p>Record Mileage:</p>
    <form action="api/mileages" method="POST">
        <input name="value" type="number" min="0" max="9999999" step="0.01" size="6"></input>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
